@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');

html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}

body {
  background-image: url(../Img/wallpaperflare.com_wallpaper.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins';
}

h2 {
  
  margin-left: 440px;
  text-align: start;
  position: relative;
  font-size: 60px;
  color: #00060600;
  
  
}

h2::before {
  
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #00098adc;
  border-right: 2px solid#f006d1e5;
  -webkit-text-stroke: 1px #72edfde5;
  overflow: hidden;
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0%,10%,100%{
    width: 0;
  }
  70%,90% {
    width: 100%;
  }
}

/* Box*/


.right{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 400px
}
.left{
  width: 50%;
  
}
.box{
  /* background-color: rgba(255, 255, 255, 0.446); */
    
  margin-top: 28px;
  margin-right: 34px;
  width: 300px;
  height:300px;
  /* opacity: 50%; */
}



@media (max-width: 620px){
body{
  flex-direction: column;
  gap: 10px;
}
.right, .left{
 width: 100%;
 height: 50%;
 justify-content: center;
 align-items: center;
}
.input{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.box{
  width: 300px;
  height: 300px;
  max-width: 320px;
  max-height: 320px;
}
}


.box-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3px 6px;
  font-weight:lighter;
  border-radius: 40px;
  width: 300px;
  height: 65px;
  font-size: 13px;
 
}
.box-container > h3{
  color: #ffdbf6d8;
}
.input-box{
  width: 97%;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  font-weight: bold;
  
}
input[type=color]{
  width: 40px;
  height: 40px;
  border-radius: 36px;
  margin-top: -15px;
}
input[type=range]{
  width: 80%;
}
.range input[type=range],
.range input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
}
.range input[type=range], .range__input-fill {
border-radius: 0.25em;
height: 0.5em;
}
.range input[type=range] {
background-color: rgba(238, 171, 255, 0.905);/*rgba(244, 228, 248, 0.645)*/
display: block;
margin: 0.5em 0;
padding: 0;
}
.range input[type=range]:focus {
outline: transparent;
}
.range input[type=range]::-webkit-slider-thumb{
  background-color: rgb(239, 6, 247);/*rgba(108, 17, 143, 1)*/
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  width: 17px;
  height: 17px;
}
output{
  color: white;
}

.code-box{
  margin-top: 60px;
  height: 170px;
  
}

.code-container{
  height: 400px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5px;
  font-weight:lighter;
  border-radius: 10px;
  width: 500px;
  font-size: 13px;
  background: rgba(71, 0, 204, 0.514);
 
  
}

.code-container > h3{
  color: rgb(254, 248, 255);
  /* margin-top: -6px; */
}

.code{
  color: rgb(0, 0, 0);
  line-height: 20px;
  background-color: rgba(247, 195, 234, 0.897);
  height: 300px;
  width: 100%;
  padding: 10px 0 10px 9px;
  display: flex;
  align-items: center;
  font-size: 13px;
  border-radius: 10px;
}




@media (max-width: 620px){
  .lil-box{
    background-color: rgba(255, 255, 255, 0.296);
    width: 80%;
    height: 15%;
    
  }
  .box-container{
   width: 100%;
   height: 100%;
   
  }

  .box-container > h3{
      font-size: 11px;
      line-height:0px;
      color: white;
  }

  .input{
    height: 100%;
    justify-content: center;
    gap: 5px;
  }

  input[type=color]{
      width: 20px;
      height: 20px;
      margin-top: 0px;
      /* margin-bottom: 20px; */
  }
  
  input[type=range]{
      width: 80%;
  }

  output{
      color: white;
      font-size: 14px;
  }

  .code-box{
    height: 140px;
  }
  
  .code-container{
    width: 100%;
  }
  
  .code-container > h3{
    color: white;
    font-size: 11px;
    margin-top: -6px;
  }
  
  .code{
    width: 80%;
    height: 15%;
    color: white;
    line-height: 15px;
    margin-top: -25px;
    background-color: rgba(135, 83, 164, 0.432);
    height: 90px;
    width: 70%;
    padding: 10px 0 10px 9px;
    display: flex;
    align-self: center;
    font-size: 9.5px;
    border-radius: 10px;
  }
  
}
